@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-primary: "Sansation", "sans-serif";
  --color-dark-white: "#EBECF3";
  --color-light-black: "#0B0B0B";
  --color-lb-blue: "#007BFF";
  --color-dark-gray: "#8F9094";
}
/* #000000 */

* {
  transition: all 0.2s linear;
}
body {
  font-family: "Sansation", "serif";
  background-color: #fafaff;
}

@layer utilities {
  .dark-gray {
    color: #8f9094;
  }

  .lb-blue {
    color: "#007BFF";
  }
}

html {
  scroll-behavior: smooth;
}
